$primary-color: #e9b722;
$normal-color: #848484;
$link-color: $primary-color;
$link-hover-color: mix($link-color, #000, 80%);
$title-color: #2d2d2d;
$text-color: #848484;
$light-color: #f6f6f6;
$dark-color: #dadada;

$row-height: 40px;
$border-color: #eee;
